*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    justify-content: center;
    text-align: center;
    background-color:white;
    margin:2rem 10rem 2rem 10rem;
    min-width:4rem;
}
section#qualification,section#experience,section#skills,section#projects{
text-align: left;
}
h1{
    color: rgb(5, 53, 70);
    font-weight: 900;
}
h2{
    color:rgb(21, 83, 104) ;
}
h3{
    color:rgb(83, 208, 250) ;
    
}
h4{
    color: rgb(147, 222, 247);
}
img{
    width:3em;
    height:3em;
}